<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav >
      <div class="main-nav">
        <div class="first-nav">
          <div class="geac-logo">
            <a href="https://gaec.gov.gh/"><img src="/images/gaec.jpg" alt="gaec image"></a>
          </div>
        </div>
        <div class="scd-nav">

          
          <div class="image-slider">
            <div class="wrapper">
              <div class="wrapper-holder">
                <div id="slide-image-1">
                  <video
                    width="first-nav" height="scd-nav" autoplay muted
                    src="/images/ndcdata">
                  </video>
                </div>
                <div id="slide-image-2">
                  <video
                  width="scd-nav" height="scd-nav" autoplay muted
                  src="/images/ndcdata">
                </video>
                </div>
                <div id="slide-image-3">
                  <video
                  width="third-nav" height="scd-nav" autoplay muted
                  src="/images/ndcdata">
                </video>
                </div>
              </div>
            </div>
            <!-- */*
            <div class="button-holder">
              <a href="#" class="tt"></a>
              <a href="#" class="tt"></a>
              <a href="#" class="tt"></a>
            </div>
            */* -->
          </div>


        </div>
        <div class="third-nav">
          <div class="ctobt-logo">
            <a href="https://www.ctbto.org/"><img src="/images/ctbto.jpeg" alt="ctbto image"></a>
          </div>
        </div>
      </div>
    </nav>
    <div class="navbar">
      <div class="nav-list">
        <button><a href="/logout">LOGOUT</a></button>
      </div>
    </div>
    <br>
  </header>
</body>
</html>
<main class="container">

