<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NDC-GAEC-dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="main-dashboard">
    <div class="dh-menu">
      <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/user">Manage User</a>
        <a href="/add">Add Data</a>
        <a href="/manage-data">Manage Data</a>
        <a href="/activities">User Activites</a>
      </div>
     
    </div>
    <div class="dh-nav-content">
      <div class="dh-nav">
        <div class="profile">
          <img src="" alt="profile user">
        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>