<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NDC-GAEC-dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="main-dashboard">
    <div class="dh-menu">
      <div>
        <a href="/dashboard">DASHBOARD</a>
        <!-- <a href="/user">Manage User</a> -->
        <a href="/add">ADD DATA</a>
        <a href="/manage-data">MANAGE DATA</a>
        <!-- <a href="/activities">User Activites</a> -->
        <a href="/map">MAP</a>
        <a href="/logout">LOGOUT</a>
      </div>
     
    </div>
    <div class="dh-nav-content">
      <div class="dh-nav">
       
      </div>
      <div class="user-form">
        <form action="/add" method="post" class="styled-form" enctype="multipart/form-data">
          <h2>ADD USERS</h2>
          <label for="id">ID</label>
          <input type="id" name="id" id="id" required>
          <br>
          <label for="name">NAME</label>
          <input type="name" name="name" id="name" placeholder="Enter full name" required>
          <br>
          <label for="password">PASSWORD</label>
          <input type="password" name="password" placeholder="Enter password" required>
          <br>
          <label for="email">EMAIL</label>
          <input type="email" name="email" placeholder="Enter emails address" required>
          <br>
          <label for="role" title="role">ROLE::</label>
          <select name="role" id="role">
          <option value="user">User</option>  
          <option value="admin">Admin</option>
          </select required>
            
          <br>
          <label for="photo">INSERT PICTURE::</label>
          <input type="file" name="photo" id="photo" accept="image/*" capture="environment">
          
          <br><br>
          <button type="submit">SUBMIT</button>
        </form>
      </div>

      
    </div>
  </div>
</body>
</html>